
<div class="header">

	{% if site.title and site.title != page.title %}
	<h1 class="header-title"><a href="{{ "/" | absolute_url }}">{{ site.title }}</a></h1>
	{% endif %}

	<ul class="header-links">
		<li><a target="_blank" href="https://twitter.com/eossweden"><i class="fab fa-2x fa-twitter-square"></i></a></li>
		<li><a target="_blank" href="https://www.facebook.com/EOS-sweden-554084258304426/"><i class="fab fa-2x fa-facebook-square"></i></a></li>
		<li><a target="_blank" href="https://github.com/eosswedenorg"><i class="fab fa-2x fa-github-square"></i></a></li>
	</ul>
</div>
