
<table>
	<thead>
		<tr>
			<th style="text-align: left">Name</th>
			<th style="text-align: left">Distributions</th>
			<th style="text-align: left">Description</th>
		</tr>
	</thead>
	<tbody>
		{%- assign repos = site.repos | sort: 'sequence' -%}
	  	{%- for repo in repos -%}
	    <tr>
			{%- assign url = repo.url | relative_url -%}
			{%- assign dists = site.packages | where: 'repo', repo.slug | group_by: 'distribution' %}
			<td style="text-align: left"><a href="{{ url }}">{{ repo.title }}</a></td>
			<td style="text-align: left">{% include dist-list.html baseurl=url list=dists %}</td>
			<td style="text-align: left">{{ repo.description }}</td>
	    </tr>
		{%- endfor %}
	</tbody>
</table>
