
a {
    color: $brand-color !important;
}

figure {
    margin: 1em 0 !important;
}


.container-sm {
    max-width: 512px;
    margin-right: auto;
    margin-left: auto;
}

.error-page {
    @extend .container-sm;
    text-align: center;
    h1 {
        font-size: 4em;
    }

    p {
        margin-top: 2em;
    }
}
