
a {
    color: $brand-color !important;
}

figure {
    margin: 1em 0 !important;
}

.header {
	display: flex;
    justify-content: space-between;
    align-items: center;
	padding-bottom: $spacer-2;
	margin-bottom: $spacer-4;
	border-bottom: solid 1px $border-gray-light;

	&-title a:hover {
        text-decoration: none;
	}

    &-search {
        flex:auto;
        margin-right: $spacer-6;
        margin-left: $spacer-6;
    }

	&-links {
		list-style: none;
		margin: $spacer-2 0;
		li {
			display: inline-block;
		}
	}
}

.footer {
    margin-top: 3em;
    padding: 1em;
    border-top: 1px solid $gray-300;
    color: $text-gray;
}

.container-sm {
    max-width: 512px;
    margin-right: auto;
    margin-left: auto;
}

.error-page {
    @extend .container-sm;
    text-align: center;
    h1 {
        font-size: 4em;
    }

    p {
        margin-top: 2em;
    }
}

.btn {

    &:hover {
        cursor: pointer;
        color: $brand-color;
    }
}

.btn-copy-code {
    float: right;
    .far, .fas {
        color: $text-gray !important;
    }
}
