
.markdown-body a {
    color: $brand-color !important;
}

figure {
    margin: 1em 0 !important;
}

.footer {
    margin-top: 3em;
    padding: 1em;
    border-top: 1px solid $gray-300;
    color: $text-gray;
}

.container-sm {
    max-width: 512px;
    margin-right: auto;
    margin-left: auto;
}

.error-page {
    @extend .container-sm;
    text-align: center;
    h1 {
        font-size: 4em;
    }

    p {
        margin-top: 2em;
    }
}

.btn {

    &:hover {
        cursor: pointer;
        color: $brand-color;
    }
}

.btn-copy-code {
    float: right;
    .far, .fas {
        color: $text-gray !important;
    }
}
