@charset "utf-8";

//  Colors
// ------------------------------
$green:            #00b00b;
$brand-color:      $green;

//  Typography
// ------------------------------
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
