
// Color system

// Gray (almost 50 of them)

$gray-100: #f1f3f5;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// Indigo

$indigo-000: #edf2ff;
$indigo-100: #dbe4ff;
$indigo-200: #bac8ff;
$indigo-300: #91a7ff;
$indigo-400: #748ffc;
$indigo-500: #5c7cfa;
$indigo-600: #4c6ef5;
$indigo-700: #4263eb;
$indigo-800: #3b5bdb;
$indigo-900: #364fc7;

// Blue

$blue-100: #d0ebff;
$blue-200: #a5d8ff;
$blue-300: #74c0fc;
$blue-400: #4dabf7;
$blue-500: #339af0;
$blue-600: #228be6;
$blue-700: #1c7ed6;
$blue-800: #1971c2;
$blue-900: #1864ab;

// Red

$red-000: #fff5f5;
$red-100: #ffe3e3;
$red-200: #ffc9c9;
$red-300: #ffa8a8;
$red-400: #ff8787;
$red-500: #ff6b6b;
$red-600: #fa5252;
$red-700: #f03e3e;
$red-800: #e03131;
$red-900: #c92a2a;
