---
layout: default
---
{% assign repo = page.url | remove_first: '/' | split: '/' | first %}
{% assign base_url = repo | append: '/' | append: page.distribution | relative_url %}
<h2>Package: {{ page.name }} ({{ page.versions.first.version }}) [<a href="{{ repo | relative_url }}">{{ repo }}</a>/<a href="{{ base_url }}">{{ page.distribution }}</a>:<a href="{{ base_url }}#{{ page.component }}">{{ page.component }}</a>]</h2>

{% assign desc = page.description | newline_to_br | split: '<br />' %}

<h3>{{ desc | first | capitalize }}</h3>

{% if desc.size > 1 %}
<p>
    {% for line in desc offset:1 %}
    {{ line }}
    {% endfor %}
</p>
{% endif %}

{% include package-list.html title="Dependencies" list=page.depends %}
{% include package-list.html title="Conflicts" list=page.conflicts %}
{% include package-list.html title="Breaks" list=page.breaks %}
{% include package-list.html title="Recomends" list=page.recomends %}
{% include package-list.html title="Replaces" list=page.replaces %}

<h4>Download</h4>

<table>
	<tr>
		<th>Version</th>
		<th>Size</th>
		<th>sha256</th>
	</tr>
	{% for item in page.versions %}
	<tr>
		<td>
			<a href="https://{{site.apt.domain}}/{{ page.repo }}/{{ item.filename }}">
				{{ item.version }}
			</a>
		</td>
		<td>
			{% include size.html input=item.size %}
		</td>
		<td class="text-mono">{{ item.sha256 }}</td>
	</tr>
	{% endfor %}
</table>

<h4>External resources</h4>

<ul>
	{% if page.homepage.size > 0 %}
	<li>Homepage: <a target="_blank" href="{{ page.Homepage }}" rel="noopener noreferrer">{{ page.homepage }}</a></li>
	{% endif %}
	{% if page.maintainer.size > 0 %}
	<li>Maintainer: {{ page.maintainer | escape }}</li>
	{% endif %}
</ul>
