---
layout: default
---
{% assign repo = page.url | remove_first: '/' | split: '/' | first %}
{% assign archive_url = repo | append: '/' | append: page.Archive | relative_url %}

<h2>Package: {{ page.Name }} ({{ page.Versions.first[0] }}) [<a href="{{ repo | relative_url }}">{{ repo }}</a>/<a href="{{ archive_url }}">{{ page.Archive }}</a>:<a href="{{ archive_url }}#{{ page.Component }}">{{ page.Component }}</a>]</h2>

<h3>{{ page.Description | capitalize }}</h3>

<h4>Dependencies</h4>

{% if page.Depends.size > 0 %}
<ul>
{% for dep in page.Depends %}
	<li>{{ dep }}</li>
{% endfor %}
</ul>
{% else %}
<p class="text-gray-light">None</p>
{% endif %}

<h4>Download</h4>

<table>
	<tr>
		<th>Version</th>
		<th>Size</th>
		<th>sha256</th>
	</tr>
	{% for version in page.Versions %}
	<tr>
		<td>
			<a href="https://{{site.apt.domain}}/{{ page.Repo }}/pool/{{ page.Component }}/{{ page.Name | slice: 0 }}/{{ page.Name }}/{{ version[1].Filename }}">
				{{ version[0] }}
			</a>
		</td>
		<td>
			{% assign tmpSize = version[1].Size %}
			{% include size.html input=tmpSize %}
		</td>
		<td class="text-mono">{{ version[1].SHA256 }}</td>
	</tr>
	{% endfor %}
</table>

<h4>External resources</h4>

<ul>
	{% if page.Homepage.size > 0 %}
	<li>Homepage: <a target="_blank" href="{{ page.Homepage }}" rel="noopener noreferrer">{{ page.Homepage }}</a></li>
	{% endif %}
	{% if page.Maintainer.size > 0 %}
	<li>Maintainer: {{ page.Maintainer }}</li>
	{% endif %}
</ul>
