---
layout: default
---

{% assign domain = page.domain | default: site.apt.domain %}
{% assign repo = page.repo %}
{% assign list = site.data.index[repo].bionic %}

<h2>{{ page.title }} Repository</h2>

<p>{{ page.description }}</p>

{% for component in site.apt.components %}

<h3>{{ component }}</h3>

{% if list[component].size > 0 %}

{% include apt-add.html domain=domain repo=repo components=component %}

<table class="d-lg-table">
    <tr>
        <th style="width: 20%">Name</th>
        <th>Version</th>
    </tr>
    {% for package in list[component] %}
    {% for version in package.versions %}
    <tr>
        {% if forloop.first == true %}
        <td>{{ package.name }}</td>
        {% else %}
        <td class="text-center text-gray-light">-</td>
        {% endif %}
        <td>{{ version }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
{% else %}
<p class="text-gray-light">No packages</p>
{% endif %}

{% endfor %}
