
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &-lg {
        @extend .container;
        max-width: $container-max-lg;
    }

    &-xl {
        @extend .container;
        max-width: $container-max-xl;
    }
}
